.products{
    /* position: relative; */
    /* height: 100vh; */
    padding-top: 40px;
}
.show-for-sr{

  background-color: #474F2F !important;}



  .col-md-3{
      /* flex-basis: 25%; */
      /* min-width: 300px; */
      margin-bottom: 50px;
      padding: 10px;
      transition: transform 0.5s;


  }
  .col-md-3 img{
      width: 100%;
      padding-bottom: 10px;
  }

  .col-md-3:hover{
      transform: translateY(-5px);
      cursor: pointer;
  }
  .overlay-iconss{
      /* align-items: flex-start; */
      text-align: right;
      justify-content: right;
      font-size: 15px;
      color: #000;
      padding-left: 140px;

  }
  .overlay-iconss i{
      /* color: #000; */
      color: #474F2F;

  }
  .pri-ic{
      display: flex;

  }
  .overlay-icons button{
      width: 35%;
      font-size: 12px;
      height: 7vh;
      background-color: black;
      color: cornsilk;
      margin: 0 10px;
      padding-bottom: 10px;
      border-radius: 10%;
  }
  @media only screen and (max-width: 600px){
      .row{
          text-align: center;
      }
      .col6{
          flex-basis: 100%;
      }
  }



  .products{
      color: #474F2F;
  }
  /*
  .overlay-icons{
      position: absolute;
      top: 0;
      left: 0;
      height: 12rem;
      width: 100%;
      background-color: rgba(0, 0, 0, .3);
      display: flex;
      align-items: center;
      justify-content: center;
      /* overflow: hidden; */

  /* } */
  /* .overlay a{
      font-size: 2rem;
      padding: 1.5rem 2rem;
      background: #fff;
      color: #666;
      margin: 1rem;
      transform: translateY(-15rem);
  } */
  /*
  .overlay a:hover{
      color: var(--blue);
  } */




  .pagination li a{
      color: #3f4b26;
  }
  .small-container{
      max-width: 1080px;
      margin: auto;
      padding-left: 25px;
      padding-right: 25px;
  }
