<div class="container log">
  
    <div class="row" style="height: 10vh;"></div>
 <div class="row mb-5 mt-5 d-flex justify-content-center"  style=" color:white;">
       
        <div class="col-xl-6 col-lg-6 col-md-7 col-sm-10 col-10" style="background-color:#ACB992;color:#464E2E;border-radius:10px;padding: 20px;" >
            
            <h4>You are only one step away from your new password <br>
               Recover your password now</h4>
            <br>
           
            <form class="row g-4" (ngSubmit)="submit()" [formGroup]="form" >
                <label  class="form-label">Password</label>
                 <div class="col-md-12 input-group">
                    
                    <input [type]="show?'text':'password'"  class="form-control"  formControlName="password" name="password" [ngClass]="{'is-invalid':submitted && f['password'].errors}"  id="Custom01" required>
                    <div class="input-group-append">
                        <span class="input-group-text">
                          <i
                            class="fa"
                            [ngClass]="{
                              'fa-eye-slash': !show,
                              'fa-eye': show
                            }"
                            (click)="showpass()"
                          ></i>
                        </span>
                      </div>
                    <div class="invalid-feedback" *ngIf="submitted && f['password'].errors">
                        <div *ngIf=" f['password'].errors['required']">
                            Please Enter your Password
                        </div>
                        <div *ngIf=" f['password'].errors['minlength']">
                              Password must be at least 8 characters
                        </div>
                      
                    </div>
                  </div>
                  <label for="Custom01" class="form-label">Confirm Password</label> 
                  <div class="col-md-12 input-group">
                   
                    <input [type]="show?'text':'password'"  class="form-control" formControlName="confirmpassword" id="Custom01" [ngClass]="{'is-invalid':submitted && f['confirmpassword'].errors}"  name="confirmpassword"  required>
                    <div class="input-group-append">
                        <span class="input-group-text">
                          <i
                            class="fa"
                            [ngClass]="{
                              'fa-eye-slash': !show,
                              'fa-eye': show
                            }"
                            (click)="showpass()"
                          ></i>
                        </span>
                      </div>
                    <div class="invalid-feedback" *ngIf="submitted && f['confirmpassword'].errors">
                        <div *ngIf=" f['confirmpassword'].errors['required']">
                           ConfirmPassword is required
                        </div>
                        <div *ngIf=" f['confirmpassword'].errors['mustMatch']">
                              Password must match
                        </div>
                      
                    </div>
                  </div>
                  <div class="col-1"></div>
               
                <div class="col-12">
                    <span><a class="redirect" [routerLink]="['/login']">Login</a></span>  <button type="submit" style="background-color: #464E2E;color: white;" class="btn btn-lg  float-end">Change Password </button>
                </div>
              </form>
        </div>

    </div>

   </div> 
