<div class="container-fluid mt-2 mb-3" *ngIf="product" style="min-height: 100vh; position: relative; ">
    <div class="row no-gutters" >
    <div class="col-md-5 pr-2">
    <div class="card">
    <div class="demo">
    <img src="http://127.0.0.1:8000/public/products/{{product.image}}" width="100%" />
    <img />
    </div>
    </div>
    </div>
    <div class="col-md-7">
    <div class= "container-fluid" class="card">
    <div class="about"> <span class="font-weight-bold">
    <h2>{{product.username}}</h2>
    </span>
    <h4>{{product.name}}</h4>
    <h4 class="font-weight-bold">
    <h4>{{product.price}}</h4> <br>
    <div >
    <!-- <button class="bb btn" [routerLink]="'chat'">Message</button> -->
    <button type="button" class="bb btn" (click)="btnClick(product.userid);" > Message</button>


    </div>
    <hr>
    <div class="product-description">

    <div class="mt-2"> <span class="font-weight-bold">Description</span>
    <p>{{product.description}}</p>
    <div class="bullets">
    <div class="d-flex align-items-center"> <span class="dot"></span> <span
    class="bullet-text">Best in Quality</span> </div>
    <div class="d-flex align-items-center"> <span class="dot"></span> <span
    class="bullet-text">Anti-creak joinery</span> </div>
    <div class="d-flex align-items-center"> <span class="dot"></span> <span
    class="bullet-text">Sturdy laminate surfaces</span> </div>
    <div class="d-flex align-items-center"> <span class="dot"></span> <span
    class="bullet-text">Relocation friendly design</span> </div>
    <div class="d-flex align-items-center"> <span class="dot"></span> <span
    class="bullet-text">High gloss, high style</span> </div>
    <div class="d-flex align-items-center"> <span class="dot"></span> <span
    class="bullet-text">Easy-access hydraulic storage</span> </div>
    </div>
    </div>
    </div>
   </h4>
        </div>
        </div>
