<div class="container log">
    
    <div class="row  mt-5 d-flex justify-content-center px-3"  style=" color:white;">
   
       <div class="row" style="height: 10vh;"></div>
          
           <div class="col-xl-7 col-lg-7 col-md-7 col-sm-10 col-10" style="background-color:#ACB992;color:#464E2E;border-radius:10px;padding: 20px;" >
            <h4>You forget password? <br> here you can easily retrieve a new password</h4>
            <hr>
                   <form (ngSubmit)="submit()" [formGroup]="form">
                       <div class="mb-5">
                         <input type="email" class="form-control form-control-lg" formControlName="email" name="email" id="exampleInputEmail1" [ngClass]="{'is-invalid':submitted && f['email'].errors}" placeholder="Email" aria-describedby="emailHelp">
                         <div class="invalid-feedback" *ngIf="submitted && f['email'].errors">
                           <div *ngIf=" f['email'].errors['required']">
                               Please Enter your Email
                           </div>
                           <div *ngIf=" f['email'].errors['email']">
                               Email must be a valid email address
                           </div>
                         
                       </div>
                       </div>
                      
                 
                       <button type="submit" style="background-color: #464E2E;color: white;" class="btn btn-lg  float-end">Request New Password</button>
                     </form>
           </div>
