
    .btn{
       
        color:#f3f5f9 !important;
    }
    .form-check-input:checked{
        background-color: #464E2E !important;
    }
    #first{
        background-color: #464E2E !important;
    }
    .log{
        
        height: 100vh;
    }
    .row{
        position: relative;
        height:50%;
    }
    .redirect{
        color:#464E2E;
       
    }