.container0{
    /* background-color: rgb(245, 177, 176); */
    /* color: #fff; */
    /* width: 100%; */
    padding: 0;
    margin: 0;
    /* width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute; */
    height: 100vh;
    
}
.container1{
    /* background-color: rgb(245, 177, 176); */
    /* background-color: crimson; */
  
    background-image: url("../../../assets/img/f5594d8c-fb85-4ad4-a90c-8d9a0ebcd781.jpg");
    background-repeat: no-repeat;
    /* color: #fff; */
    color: #ACB992;
    background-size: cover;
    background-position: center;
    /* opacity: 0.7; */
    
    

    /* background-color: rgb(58, 175, 210);
    color: #fff; */
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100vh;
}
.container2{
    background-image: url("../../../assets/img/pexels-anete-lusina-5721807.jpg");
    background-repeat: no-repeat;
    /* color: #fff; */
    color: #ACB992;
    background-size: cover;
    background-position: center;
    /* background-color: rgb(58, 175, 210); */
    /* color: #fff;  */
    color: #ACB992;
    /* width: 100%;
    /* width: 100%; */
    padding: 0;
    margin: 0;
    height: 100vh;
}
.container3{
    background-image: url("../../../assets/img/pexels-anete-lusina-grar-5721872.jpg");
    background-repeat: no-repeat;
    /* color: #fff; */
    color: #ACB992;
    background-size: cover;
    background-position: center;
    
    /* background-color: rgb(235, 161, 112); */
    /* color: #fff;  */
    color: #ACB992;
    /* width: 100%;
    /* width: 100%; */
    padding: 0;
    margin: 0;
    height: 100vh;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.col-6{
    /* flex-basis: 50%; 
     min-width: 300px;
     padding: 0;
     margin: 0; */
     /* padding-right: 100px; */
}
.text{
    /* background-color: #6a6b66; */
    height: 50vh;
    width: 100%;
    padding: 30px 0 0 30px;
    /* opacity: 0.2; */
    color: #fff;
    background: rgba(4, 4, 4, 0.7);

    
}
.scriptt{
    /* background: rgba(4, 4, 4, 0.7); */
    /* opacity: 0.2; */
    padding-top: 150px;
    /* margin-top: 90px;
    color: #fff;
    padding-top: 90px; */
    /* top: 90px; */
    /* font-weight: 800; */
      /* font-weight: bolder;
      background-color: #6b7943;
      height: 50vh; */
      
    /* color: #3f4b26; */
}
.col-6 img{
    max-width: 100%;
    /* padding: 50px 0; */
}

.btn1{
    display: inline-block;
    /* background-color: #fe696a;; */
    background-color: #474F2F;
    color: #fff;
    padding: 8px 35px;
    margin: 30px;
    border-radius: 10px;
    transition: background 0.5s;
}
.btn1:hover{
    /* background: #2351; */
}
