  <div class=" container0">

        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <!-- <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div> -->
            <div class="carousel-inner container1">
              <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                      <div class="col-6 scriptt">
                        <div class="text">
                          <p>Hrry up! buy and sell </p>
                          <h1> Old Product</h1>
                          <h5>Furniture, Electrical devices & much more..</h5>
                          <input type="button" [routerLink]="['/product']" class="btn1" value="Shop now">
                      </div>
                    </div>

                      <div class="col-6">
                          <!-- <img src="img1.jpg"> -->
                      </div>


                  </div>


                  </div>
              </div>
              <div class="carousel-item container2">
                <div class="container">
                    <div class="row">
                      <div class="col-6 scriptt">
                        <div class="text">
                          <p>Hrry up! buy and sell </p>
                          <h1> Old Product</h1>
                          <h5>Furniture, Electrical devices & much more..</h5>
                          <input type="button" href="" class="btn1" value="Shop now">
                      </div>
                    </div>

                      <div class="col-6">
                          <!-- <img src="img2.jpg"> -->
                      </div>

                  </div>

                  </div>
              </div>
              <div class="carousel-item container3">
                  <div class="container">
          <div class="row">
            <div class="col-6 scriptt">
              <div class="text">
                <p>Hrry up! buy and sell </p>
                <h1> Old Product</h1>
                <h5>Furniture, Electrical devices & much more..</h5>
                <input type="button" href="#product" class="btn1" value="Shop now">
            </div>
            </div>
            <div class="col-6">
                <!-- <img src="img3.jpg"> -->
            </div>

        </div>

        </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>



    </div>
