.categories{
    margin: 30px 0px;
    padding: 0;
    color: #474F2F;
    padding-left: 15%;

}
.imgss{
    height: 80%;
    width: 100%;
}
.page-item{
    height: 30%;
    width: 100%;
}
.categories a{
    /* color: #000; */
    color: #474F2F;

    text-decoration: none;
}
.category-down{
    display: flex;
    margin-bottom: 10px;
}
.col-4{
    flex-basis: 25%;
    min-width: 300px;
    margin-bottom: 30px;
}

.col-4 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;


}
