<div class="products" style="min-height: 100vh; position: relative; ">
  <div class="small-container">
      <br>
    <h2>Favourite Products</h2>
    <br>

    <div class="row">
      <div class="col-md-3 col-sm-6" *ngFor="let item of productData" >
        <div class="img-wrap">
            <span class="close" (click)="changFav(item,senderID)" >&times;</span>
            <img src="http://127.0.0.1:8000/public/products/{{item.image}}" style="height:250px!important;width:100%!important;"/>
        </div>

        <h4>{{item.name}}</h4>
        <div class="pri-ic">

          <p>{{item.price}}</p>
          <div class="overlay-iconss">
            <a [routerLink]="['/show',item.id]" style="--i:1"><i class="fa fa-eye"></i></a>
            <a style="--i:3" ><i   [ngClass]="{'bi bi-suit-heart-fill':!item.isFav,'bi bi-suit-heart':item.isFav}" (click)="changFav(item,senderID)"></i> </a>

         </div>
        </div>

      </div>



    </div>
<!-- -----------------pagination---------- -->



  </div>

</div>


